@media (min-width: 320px) and (max-width: 480px) {
    header {
        height: 70px;
    }
    section {
        padding: 20px;

        #finance1 {
            min-height: 440px;
            object-position: 28%;
            margin-bottom: 20px;
        }
    }
}